.calculator-wrapper {
  margin-top: 40px;
}

.card {
  max-width: 360px;
  margin: 0 auto;
}

.card-body {
  text-align: center;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}


.calculator-display {
  width: 320px;
  height: 40px;
  font-size: 1.6em;
  font-weight: bold;
  padding-right: 15px;
  text-align: right;
}

.btn { 
  border: 5px solid black;
  margin: 1.5px 2px;
  height: 80px;
  width: 80px;
}
